.DV-viewDocument .DV-allAnnotations,
.DV-viewDocument .DV-text,
.DV-viewDocument .DV-search,
.DV-viewDocument .DV-thumbnails,
.dynamic-page{
  display:none;
}

.DV-viewDocument .dynamic-page{
  display:block;
}

.DV-coverVisible .DV-viewDocument .dynamic-page{
  background:none;
}

.DV-viewDocument .DV-annotation {
  height: 0;
}
.DV-viewDocument .DV-pageNote {
  height: auto;
}
.DV-viewDocument .DV-activeAnnotation {
  height: auto;
}

.DV-viewDocument .DV-currentAnnotationPrefix,
.DV-viewDocument .DV-totalAnnotations{
  display:none;
}

.DV-viewDocument .DV-currentPagePrefix,
.DV-viewDocument .DV-totalPages{
  display:inline;
}

.DV-viewDocument .DV-coverVisible .DV-cover{
  cursor:pointer !important;
}

.DV-viewDocument .DV-annotationRegionBorder {
  display: block;
}
